.ProgressBar-hidden {
    visibility: hidden;
}

.Pagination-hidden {
    visibility: hidden;
}

.pageTitle {
    margin: 0;
    font-size: 4em;
}

.tableContainer {
    margin: 2em auto;
    max-width: 60em;
}

.tablePaginator {
    position: relative;
    top: 0.5em;
}

.playerRow {
    cursor: pointer;
}