.ProgressBar-hidden {
    visibility: hidden;
}

.Pagination-hidden {
    visibility: hidden;
}

.tableContainer {
    margin: 2em auto;
    max-width: 60em;
}

.tablePaginator {
    position: relative;
    top: 0.5em;
}

.playerRow {
    cursor: pointer;
}